<!-- main/templates/main/about.html -->
{% extends 'main/base.html' %}
{% block title %}О нас{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>О нас</h2>
    <p>
        Добро пожаловать на нашу Платформу мероприятий!
        Мы стремимся объединить спортивные и культурные события 
        в удобной онлайн-платформе, которая помогает организаторам и зрителям 
        находить друг друга, пользоваться взаимными скидками и накапливать баллы 
        для получения приятных бонусов.
    </p>
    <p>
        На нашем сайте вы найдёте афишу ближайших мероприятий, сможете приобрести 
        билеты, а также обменять накопленные баллы на эксклюзивный мерч. 
        Организаторы могут создавать события, управлять системой лояльности 
        и предоставлять дополнительные скидки коллегам-организаторам.
    </p>
    <p>
        Мы всегда открыты для сотрудничества и с радостью рассмотрим предложения 
        по развитию платформы. Благодарим за ваш интерес к нашему проекту!
    </p>
</div>
{% endblock %}
